<h6>SHOW</h6>



<h6><a href= "/users/<%=@user.id%>/edit">Edit profile</a></h6>

<form action="/users/<%=@user.id%>" method="POST" >
   <input type="hidden" value="DELETE"  name="_method">
   <input type="submit" value="delete">
</form>



<h2> All your items </h2>
<h4><%=@user.username%>'profile</h4>
<%@user.items.each do |user_item|%>
    <h3><%=user_item.name%></h3><h6><a href= "/items/<%=user_item.id%>">item details</a></h6>
    
<%end%>

<br>
<br>
<br>



<h4><a href="/items/new">add an item</a><h4>
<br>
<h4><a href="/users">see all users</a></h4>
<h4><a href="/items">see all items</a></h4>






