<h1>SHOW</h1>
<%if logged_in?%>
  <h1><%=current_user.username %>'s Profile</h1>
  <a href = "/logout"><b>Logout</b></a>
<%end%>

<h1>Item details</h1>

<h2> <%=@item.name %></h2>
<h3>size:<%=@item.size%></h3>
<h3>brand:<%=@item.brand%></h3>
<h3>color:<%=@item.color%></h3>
<h3>condition:<%=@item.condition%></h3>
<h3>description:<%=@item.description%></h3>
<h3>price:<%=@item.price%></h3>

<h4><a href="/items/<%=@item.id%>/edit">Edit this item</a></h4>

<form action="/items/<%=@item.id%>" method="POST" >
   <input type="hidden" value="DELETE"  name="_method">

   <input type="submit" value="delete">
</form>
<h4><a href = "/items"><b>back to ALL items</a></h4>